.hero-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.canvas-container {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.hexagon {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: 50%;
}

.canvas {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: none;
}
